/*	-------------------------------------------------------------
	Beispiel: Liste mit span (Alternative zu :first-line)
	- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
          .datei         index.html
          .kapitel       6
	-------------------------------------------------------------	*/

/*	-------------------------------------------------------------
	1. GLOBAL RESET
	- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -	*/
               * {
                    margin: 0;
                    padding: 0;
               }

/*	-------------------------------------------------------------
	2. ALLGEMEINE ATTRIBUTE
	- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -	*/

               body {
                    font: 0.8em/1.5em "Trebuchet MS", Georgia, Verdana, sans-serif;
               }

               p.intro {
                    margin: 1em 21%;
                    padding: 0.5em 1em;
                    background-color: #f8f7f6;
                    border: 1px solid #eee;
                    font-size: 1.7em;
                    line-height: 1.7em;
               }

/*	-------------------------------------------------------------
	3. VERWEISE
	- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -	*/

               a:link, a:visited {
                    color: #a10000;
                    font-weight: bold;
                    text-decoration: none;
                    border-bottom: 1px dotted #a10000;
               }
               a:hover, a:visited:hover {
                    background-color: #fff5eb;
                    border-bottom: 1px solid #a10000;
               }
               a:active, a:focus {
                    background-color: #a10000;
                    color: #fff;
               }

/*	-------------------------------------------------------------
	4. LISTE
	- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -	*/

               #liste {
                    margin: 0 25%;
               }
               #liste ul li {
                    margin-bottom: 1em;
               }
               ul#root_list {
                    list-style-type: none;
               }
               ul#root_list li {
                    background-image: url(bullet-1.gif);
                    background-position: 0 0.1em;
                    background-repeat: no-repeat;
                    padding-left: 2em;
               }
               #liste ul li ul {
                    font-size: 0.9em;
                    margin: 1em;
                    list-style: inside;
               }
               #liste li ul li {
                    list-style: url(bullet-2.gif) inside;
                    border-right: 1px solid #ccc;
                    border-bottom: 1px solid #ccc;
                    border-top: 1px solid #ccc;
                    border-left: 5px solid #ddd;
                    padding: 1em 0 1em 1em;
                    margin: 5px 0 5px 2.5em;
                    background-image: none;
               }
               
               #liste li ul li:hover {
                    background-color: #f7f7f7;
               }

/*	-------------------------------------------------------------
	5. ZUSÄTZLICHE KLASSEN FÜR SPAN
	- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -	*/

               .firstline {
                    font-weight: bold;
                    background-color: #ffeedd;
               }
               .subfirstline {
                    text-transform: uppercase;
                    font-weight: bold;
               }
