/*	-------------------------------------------------------------
	Beispiel: multiple floats
	- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
          .datei         floats-multiple.html
          .kapitel       10
	-------------------------------------------------------------	*/
               body { 
                    font-size: 130%;
                    font-family: Verdana, Geneva, Arial, 
                    Helvetica, sans-serif; 
                    text-align: left; 
               }
               #floats {
                    margin: 15px 10% 10px 18%;
               }
               #floats div { 
                    float: left; 
                    width: 80px;
                    height: 80px; 
                    
                    w\idth: 62px;
                    hei\ght: 62px;
                    /* IE 5.x/Win Box Model Hack */
                    padding: 6px;
                    margin: 0 5px 5px 0; 
                    border: 3px solid; 
                    border-color: #d3d3d3; 
                    background: #a60201; 
                    text-align: center; 
                    color: #ff8; 
               }
               
               div#float3, div#float13, div#float17 { 
                    background-color: #dd0000;
                    color: #ffffff;
               }
               div#float3 {
                    height: 100px;
               }
               div#float13 {
                    height: 140px;
               }
               div#float17 {
                    height: 45px;
               }
