/*	-------------------------------------------------------------
	Beispiel: positioning-basiertes zweispaltiges Layout
	- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
          .datei         index.html
          .kapitel       10
	-------------------------------------------------------------	*/

/*	-------------------------------------------------------------
	1. RESET + STRUKTUR
	- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -	*/

               * {
                    margin: 0;
                    padding: 0;
               }

               body
               {
                    background-color: #eeeeee;
                    font: 1.1em/1.3em Delicious, Georgia, Times, "Times New Roman", serif; 
               }

               h1, h2, h3 {
                    padding: 0.7em 0;
               }
               
               p {
                    padding: 0.3em 0;
               }

               #container
               {
                    margin: 1em 6%;
                    background-color: #ffffff;
                    border: 1px solid #1166cc;
                    position: relative;
               }

/*	-------------------------------------------------------------
	2. HEADER
	- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -	*/

               #header {
                    background-color: #5599dd;
                    position: relative;
                    
                    /* Volle Breite setzen */
                    width: 100%;
               }
               #header a {
                    color: #fff;
               }
               #header h1 {
                    color: #fff;
                    padding: 0.5em;
               }
               
               #header form {
                    padding: 5px;
                    background-color: #77aadd;
                    width: 160px;
                    margin: 0.5em;
                    position: absolute;
                    top: 0;
                    right: 0; 
               }

               #header input {
                    padding: 5px;
                    background-color: #fff;
                    border: 2px solid #f6f6f6;
                    font-size: 1em;
                    color: #999;
                    width: 110px;
               }

/*	-------------------------------------------------------------
	3. NAVBAR
	- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -	*/

               #navbar {
                    background-color: #77aadd;
                    padding: 1px;
               }
               #navbar ul {
                    padding: 0.6em;
               }
               
               #navbar li {
                    display: inline;
                    list-style: none;
               }
               
               #navbar li a {
                    padding: 0.3em;
                    color: #fafafa;
               }

/*	-------------------------------------------------------------
	4. BLÖCKE
	- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -	*/
               #content {
                    width: 55%;
                    padding: 0.5em 1.5%;
                    margin-right: 40%;
               }

               #main {
                    position: relative;
                    
                    /* Volle Breite setzen */
                    width: 100%;

                    /* Equal Height Columns */
                    overflow: hidden;
               }
               #sidebar {
                    position: absolute;
                    
                    /* Position des Block wird verändert */
                    top: 0; 
                    right: 0;
                    font-size: 0.95em;
                    background-color: #cceeff;
                    padding: 0.5em 2%;
                    width: 18%;

                    /* Equal Height Columns */
                    margin-bottom: -9999px; 
                    padding-bottom: 9999px;
               }

               #nextsidebar {
                    position: absolute;
                    right: 22%;
                    top: 0;
                    font-size: 0.95em;
                    background-color: #d4ebf7;
                    padding: 0.5em 1%;
                    width: 18%;
                    
                    /* Equal Height Columns */
                    margin-bottom: -9999px; 
                    padding-bottom: 9999px;
               }

/*	-------------------------------------------------------------
	5. FOOTER
	- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -	*/

               #footer {
                    background-color: #5599dd;
                    text-align: right;
                    color: #fff;
               }
               #footer p {
                    padding: 0.5em;
               }
