/*	-------------------------------------------------------------
	Beispiel: positioning-basiertes zweispaltiges Layout
	- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
          .datei         index.html
          .kapitel       10
	-------------------------------------------------------------	*/

/*	-------------------------------------------------------------
	1. RESET + STRUKTUR
	- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -	*/

               * {
                    margin: 0;
                    padding: 0;
               }

               body
               {
                    background-color: #eeeeee;
                    font: 1.1em/1.3em Delicious, Georgia, Times, "Times New Roman", serif; 
               }

               h1, h2, h3 {
                    padding: 0.7em 0;
               }
               
               p {
                    padding: 0.3em 0;
               }

               #container
               {
                    margin: 1em 6%;
                    background-color: #ffffff;
                    border: 1px solid #1166cc;
                    position: relative;
               }

/*	-------------------------------------------------------------
	2. HEADER
	- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -	*/

               #header {
                    background-color: #5599dd;
                    position: relative;
               }
               #header a {
                    color: #fff;
               }
               #header h1 {
                    color: #fff;
                    padding: 0.5em;
               }
               
               #header form {
                    padding: 5px;
                    background-color: #77aadd;
                    width: 160px;
                    margin: 0.5em;
                    position: absolute;
                    top: 0;
                    right: 0; 
               }

               #header input {
                    padding: 5px;
                    background-color: #fff;
                    border: 2px solid #f6f6f6;
                    font-size: 1em;
                    color: #999;
                    width: 110px;
               }
