/*	-------------------------------------------------------------
	Beispiel: Wordpres-Theme auf der Grundlage von 
	Talkin' Web 2.0 TEMPLATE
          Copyright 2007 Bartelme Design
          http: //bartelme.at/

	- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
	.datei         index.php	.kapitel       3
	-------------------------------------------------------------	*/

/* 
          Content: 
     
          	1. Structure
          	2. Main positioning
          	3. Typography
          	4. Header
          	5. RSS
          	6. Navigation
          	7. Search
          	8. Form
          	9. Content
          	10. Sidebar
          	11. Footer
*/

/*	-------------------------------------------------------------
	1. STRUCTURE
	- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -	*/

               * { /* reset default values */
                   list-style: none;
                   margin: 0;
                   padding: 0;
                   text-decoration: none;
               }
               html {
                   background: #fff url("images/bg_main.gif") repeat-x 0 0;
                   height: 100%;
               }
               body {
                   background: transparent url("images/bg_wrapper.jpg") repeat-y 0 60px;
               }
               
               /*	-------------------------------------------------------------
               	2. MAIN POSITIONING
               	- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -	*/
               
               #wrapper {
                   background: transparent url("images/bg_main.gif") repeat-x 0 0;
                   color: #1f1a11;
                   overflow: hidden;
                    min-width: 905px;
                    max-width: 82em;
               }
               #header,
               #body,
               #footer {
                   clear: both;
                   float: left;
                   position: relative;
               }
               #header,
               #body {
                   width: 100%;
               }
               #footer {
               width: 60em;
               }
               #content {
                   float: left;
                   width: 48%;
               }
               #sidebar {
                   float: right;
                   width: 34%;
               }
               
               /*	-------------------------------------------------------------
               	3. TYPOGRAPHY
               	- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -	*/
               
               body {
                   font: small/150% Helvetica, Arial, Verdana, sans-serif;
               }
               a {
                   color: #ff519d;
               }
               h1, h2, h3, h4, h5, h6 {
                   font-weight: bold;
               }
               
               /*	-------------------------------------------------------------
               	4. HEADER
               	- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -	*/
               
               #header {
                   background: transparent url("images/bg_header.jpg") no-repeat 50% 6px;
                   padding-top: 35px;
               }
               #skip {
                   background: transparent url("images/badge.jpg") no-repeat 0 0;
                   left: 0;
                   position: absolute;
                   height: 160px;
                   top: 0;
                   width: 152px;
               }
               #header #skip a { /* hide from visual browsers */
                   position: absolute;
                   visibility: hidden;
               }
               #header h1 {
                   padding-left: 160px;
               }
               #header h1 a {
                   background: transparent url("images/logo.gif") no-repeat 0 0;
                   color: #25313b;
                   display: block;
                   line-height: 400px;
                   overflow: hidden;
                   height: 120px;
                   width: 225px;
               }
               
               /*	-------------------------------------------------------------
               	5. RSS
               	- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -	*/
               
               #rss {
                   background: transparent url("images/darkbg-rss.gif") no-repeat 0 100%;
                   color: #00bff3;
                   font-size: 88%;
                   padding: 0.3em 15px 0.5em 15px;
                   position: absolute;
                   right: 30px;
                   text-transform: uppercase;
                   top: 6px;
                   width: 270px;
               }
               #rss * {
                   float: left;
               }
               #rss dt {
                   padding-right: 1em;
               }
               #rss a {
                   background: transparent url("images/icon_rss.gif") no-repeat 0 50%;
                   color: #fff;
                   margin-right: 15px;
                   padding-left: 20px;
               }
               #rss a:hover {
                   text-decoration: underline;
               }
               
               /*	-------------------------------------------------------------
               	6. NAVIGATION
               	- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -	*/
               
               #navigation,
               #navigation * {
                   float: left;
               }
               #navigation {
                   background: transparent url("images/bg_navigation.gif") repeat-x 0 0;
                   display: inline;
                   height: 53px;
                   line-height: 51px;
                   margin-bottom: 1em;
                   margin-left: -1em;
                   text-transform: uppercase;
                   width: 100%;
               }
               #navigation ul {
                   padding-left: 170px;
               }
               #navigation li {
                   margin-right: 0.5em;
               }
               #navigation a {
                   color: #fff;
                   padding: 0 1em;
               }
               #navigation a:hover {
                   background: transparent url("images/bg_navigation_hover.gif") no-repeat 50% 25px;
               }
               #navigation .current-cat a,
               #navigation .current-cat a:hover,
               #navigation .current_page_item a,
               #navigation .current_page_item a:hover {
                   background: #fff url("images/bg_navigation_selected.gif") repeat-x 0 0;
                   color: #1f1a11;
                   font-weight: bold;
                   text-decoration: none;
               }
               
               /*	-------------------------------------------------------------
               	7. SEARCH
               	- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -	*/
               
               #search {
                   background: transparent url("images/bg_search.gif") no-repeat 100% 0;
                   height: 53px;
                   padding: 13px 50px 0 65px;
                   position: absolute;
                   right: 0;
                   top: 155px;
               }
               #search * {
                   float: left;
               }
               #search label { /* hide from visual browsers */
                   position: absolute;
                   visibility: hidden;
               }
               #search input {
                   border: 1px solid #40cff5;
                   font-size: 110%;
                   margin-right: 10px;
                   width: 160px;
               }
               #search button {
                   background: transparent url("images/button_search.gif") no-repeat 0 0;
                   border: none;
                   height: 26px;
                   margin-top: -1px;
                   line-height: 100px;
                   padding: 0;
                   overflow: hidden;
                   width: 90px;
               }
               #search > form button {
                   text-indent: 100px; /* be nice to Firefox */
               }
               #search button:hover {
                   background-position: 0 -26px;
               }
               #search button:active {
                   background-position: 0 -52px;
               }
               
               /*	-------------------------------------------------------------
               	8. FORM
               	- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -	*/
               
               form input {
                   background: #fff url("images/bg_input.gif") repeat-x 0 0;
                   border: 1px solid #c0c3c6;
                   padding: 0.2em 5px;
               }
               form button {
                   background: #fdab08;
                   border: none;
                   color: #fff;
                   cursor: pointer;
                   font-weight: bold;
                   padding: 0.2em 0.7em;
               }
               
               /*	-------------------------------------------------------------
               	9. CONTENT
               	- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -	*/
               
               #content {
                   padding: 10px 0;
                   padding-left: 150px;
               }
               #content .entry {
                   overflow: hidden;
                   padding: 10px 20px;
               }
               #content .entry p a {
               text-decoration: underline;
               }
               
               #content .entry p a:hover {
               text-decoration: none;
               }
               
               #content .entry p {
                   margin-bottom: 1em;
               }
               #content .entry .excerpt {
                   font-style: italic;
                   font-size: 110%;
                   line-height: 150%;
               }
               #content .entry .excerpt: first-line {
                   font-weight: bold;
               }
               #content .entry h3 {
                   font-size: 170%;
                   margin-bottom: 0.1em;
               }
               #content .entry h3 a {
                   color: #25313b;
               }
               #content .entry h3 a:hover {
                   color: #ff519d;
               }
               #content .date {
                   background: transparent url("images/icon_date.gif") no-repeat 0 50%;
                   color: #00a1f3;
                   font-size: 110%;
                   text-transform: uppercase;
                   padding-left: 20px;
               }
               #wrapper #content .entry .meta {
                   border-top: 1px solid #ccf2fd;
                   color: #00a1f3;
                   padding: 0;
                   padding-top: 0.2em;
                   margin-bottom: 0.7em;
               }
               #wrapper #content .entry .nospace {
                    background-color: #EBFAFF;
                    padding-left: 0.5em;
               }
               #content .entry .meta * {
                   display: inline;
               }
               #content .entry .meta li {
                   padding-right: 0.5em;
               }
               #content .entry .meta a:hover {
                   text-decoration: underline;
               }
               #content .entry .meta a,
               #content .entry .meta .date {
                   background-position: 0 50%;
                   background-repeat: no-repeat;
                   padding-left: 18px;
               }
               #content .entry .nospace a {
                    padding-left: 0;
               }
               #content .entry .meta .tag a {
                   background-image: url("images/icon_tag.gif");
               }
               #content .entry .meta .comment a {
                   background-image: url("images/icon_comment.gif");
               }
               #content .separator,
               #sidebar .separator {
                   color: #a7b4be;
                   margin: 1em 0;
                   padding: 0 20px;
               }
               #content .entry .note {
                   position: absolute;
                   left: 15px;
                   width: 140px;
               }
               #content .entry .note strong {
                   background: transparent url("images/icon_note.gif") no-repeat 0 50%;
                   display: block;
                   padding-left: 20px;
                   text-transform: uppercase;
               }
               
               /*	-------------------------------------------------------------
               	10. SIDEBAR
               	- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -	*/
               
               #sidebar {
                   padding: 10px 0;
               }
               #sidebar .section {
                   clear: both;
                   margin-bottom: 20px;
                   padding: 10px 20px;
               }
               #sidebar .column {
                   float: left;
                   width: 50%;
               }
               #sidebar .section h3 {
                   font-size: 100%;
                   margin-bottom: 0.5em;
                   text-transform: uppercase;
               }
               #sidebar .section h3 em {
                   color: #00bff3;
                   font-style: normal;
               }
               #sidebar li a {
                   background: transparent url("images/icon_tag.gif") no-repeat 0 0.35em;
                   padding-left: 18px;
               }
               #sidebar li a:hover {
                   background-color: #e5f8fe;
               }
               #sidebar .date li a {
                   background-image: url("images/icon_date.gif");
               }
               #sidebar .entry {
                   margin-bottom: 1em;
               }
               #sidebar li {
                   border-bottom: 1px solid #ccf2fd;
               }
               #sidebar li.lastchild {
                   border-bottom: none;
               }
               #sidebar li a {
                   display: block;
                   padding-top: 0.2em;
                   padding-bottom: 0.2em;
               }
               #sidebar .section.about {
                   background: transparent url("images/bg_about.jpg") no-repeat 0 0;
                   color: #002647;
                   margin-top: -20px;
                   padding: 70px 50px;
               }
               #sidebar .section.about h3 {
                   font-size: 150%;
               }
               #sidebar .section.about .more {
                   background: transparent url("images/icon_more.gif") no-repeat 100% 50%;
                   color: #002647;
                   padding-right: 15px;
                   text-decoration: underline;
               }
               
               /*	-------------------------------------------------------------
               	11. FOOTER
               	- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -	*/
               
               #footer {
                   background: #2c2c2c url("images/bg_footer.gif") no-repeat 100% 0;
                   color: #fff;
                   padding: 2em 0;
               }
               #footer p {
                   padding-left: 20px;
               }
               #footer p em {
                   color: #00a1f3;
                   font-style: normal;
               }
               #footer ul {
                   position: absolute;
                   right: 20px;
                   top: 2em;
               }
               #footer ul,
               #footer ul * {
                   float: left;
               }
               #footer li {
                   margin-right: 1em;
               }
               #footer li a {
                   color: #fff;
                   background: transparent url("images/icon_check.gif") no-repeat 0 0.2em;
                   padding-left: 20px;
               }
               #footer li a:hover {
                   color: #ff519d;
               }              
               textarea {
                    width: 35em;
                    background-color: #EBFAFE;
                    border: 1px solid #CCF2FD;
                    padding: 10px;
               }
               textarea:hover {
                    border: 1px solid #B3ECFC;
               } 
               h2#postcomment, h2#comments {
                    padding: 15px 0;
               } 
               ol#commentlist li {
                    padding: 7px 5px;
               }
               ol#commentlist li {
                    list-style-type: decimal;
               } 
               .odd {
                    background-color: #EBFAFE;
               } 
               .moreinfo {
                    width: 20%;
                    float: right;
                    text-align: right;
                    display: block;
                    padding: 3px;
                    background-color: #E1F7FE;
                    border: 1px solid #CCF2FD;
                    border-top: 5px solid #CCF2FD;
               } 
               .moreinfo a {
                    color: #00A1F3;
                    padding-right: 3px;
                    font-weight: bold;
               } 
               .more {
                    width: 40%;
                    float: right;
                    text-align: right;
                    display: block;
                    padding: 3px;
                    background-color: #E1F7FE;
               } 