/*	-------------------------------------------------------------
	Bugfix für IE
	- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
	.datei         index.html
          .kapitel       3
	-------------------------------------------------------------	*/
               #primary-content *
               {
               	margin-right: 18px;
               }         
               #sidebar {
                    width: 33%;
                    float: right;
                    }
