/*	-------------------------------------------------------------
	Beispiel: Elastische Darstellung eines Bildes mit Bildunterschrift
	- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
          .datei         bild-mit-unterschrift.html
          .kapitel       9
	-------------------------------------------------------------	*/

/*	-------------------------------------------------------------
	1. STRUKTUR
	- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -	*/
               body {
                    font: 62.5%/1.4em Cambria, Georgia, sans-serif;
               }
               
               #wrapper {
                    width: 30em;
                    margin: 0 auto;
                    text-align: justify;
               }
               .container { 
                    margin: 0.5em;
                    border: 1px solid #ccc;
                    width: 264px;
                    float: right;
                    margin: 0.5em 1em;
                    background-color: #fafafa;
               }

/*	-------------------------------------------------------------
	2. TEXTDARSTELLUNG
	- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -	*/
               .container p {
                    font-size: 0.8em;
                    line-height: 1.4em;
                    padding: 0;
                    margin: 0.5em;
               }

/*	-------------------------------------------------------------
	3. BILDUNTERSCHRIFT
	- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -	*/
               .arc90_imgcaptionTXT {
                    font-size: .8em;
                    color: #666;
                    text-align: left;
               }
               
               .imgcaption { 
                    margin: 7px;
               }
               
               .floatl {
                    float: left;
                    margin-right: 1em;
               }
               
               .floatr {
                    float: right;
                    margin-left: 1em;
               }
               
               .thumb {
                    border: 1px solid #ccc;
               }
