/*	-------------------------------------------------------------
	Beispiel: Optgroup
	- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
          .datei         optgroup.html
          .kapitel       8
	-------------------------------------------------------------	*/
	
          optgroup.ids {
               font-size: 20px;
               padding: 15px;
               text-align: left;
               background-color: #eeffcc;
               color: #333;
               border-bottom: 1px solid #ccc;
               border-top: 1px solid #ccc;
          }
          
          optgroup.ids option:hover{
               background-color: #A1E25F;
               color: #fff;
          }
