/*	-------------------------------------------------------------
	Beispiel: Auswahlmenü
	- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
          .datei         form.html
          .kapitel       8
	-------------------------------------------------------------	*/

/*	-------------------------------------------------------------
	1. LINKER + RECHTER BLÖCKE
	- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -	*/
               .leftbar {
                    width: 25%;
                    clear: both;
                    float: left;
                    display: inline;
                    padding: 4px;
                    margin: 10px 0;
                    text-align: right;
               }
               .rightbar {
                    width: 70%;
                    text-align: left;
                    float: right;
                    display: inline;
                    padding: 4px;
                    margin: 5px 0;
               }
