/*	-------------------------------------------------------------
	Beispiel eines Navigationsmenüs mit Sliding Doors
	- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
          .datei         sliding-doors.html
          .kapitel       5
	-------------------------------------------------------------	*/

/*	-------------------------------------------------------------
	1. GLOBAL RESET
	- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -	*/
               * {
                    /* Margin und Padding werden auf 0 gesetzt*/
                    margin: 0;
                    padding: 0;
               }

/*	-------------------------------------------------------------
	2. ALLGEMEINE ATTRIBUTE
	- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -	*/

               body {
               	background: #fff;
               	font: 2.0em/1.6em Calibri, Helvetica, Georgia, serif; 
                    margin: 1em;
               }

/*	-------------------------------------------------------------
	3. NAVIGATIONSMENÜ
	- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -	*/

               #navbar {
                    float: left;
                    width: 100%;
                    background: #fff;
                    border-bottom: 12px solid #D5D0BA;
                    margin-top: 20px;
               }
               #navbar ul {
                    list-style: none;
               }
               #navbar li {
                    float: left;
                    border-bottom: 1px solid #765;
               }
               #navbar a {
                    /* Linker Teil des Menüs */
                    display: block;
                    float: left;
                    background: url("links.jpg") no-repeat left top;
                    padding-left: 18px;
                    text-decoration: none;
               }
               #navbar #current a {
                    /* Hintergrunbild des linken Teils des Menüs im aktiven Zustand.
                    Fokus wird um 150px nach unten verschoben und steht auf der linken Ecke. */
                    background-position: 0% -150px;
               }
               #navbar #current a span {
                    /* Hintergrunbild des rechten Teils des Menüs im aktiven Zustand.
                    Fokus wird um 150px nach unten verschoben;  horizontale Verschiebung ist 100%, da
                    die rechte Ecke des Hintergrundbildes angezeigt werden soll. */
                    background-position: 100% -150px;
                    color: #a10000;
                    font-weight: bold;
               }
               #navbar li#current {
                    border-bottom: 1px solid #D5D0BA;
               }
               #navbar a span {
                    /* Rechter Teil des Menüs */
                    float: left;
                    display: block;
                    background: url("rechts.jpg") no-repeat right top;
                    padding: 5px 15px 4px 0;
                    color: #333;
               }
               #navbar a:hover span {
                    color: #111;
               }
               #navbar a:hover {
                    background-position: 0% -150px;
               }
               #navbar a:hover span {
                    background-position: 100% -150px;
               }     
               /* Commented Backslash Hack versteckt diese Regel von IE5-Mac \*/
               #navbar a span {
                    float: none;
               }
               /* End IE5-Mac hack */
