/*	-------------------------------------------------------------
	Beispiel eines schlichten Layouts
	- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
          .datei         index.html
          .kapitel       4
	-------------------------------------------------------------	*/

/* 
          Inhalt: 
     
          	1. Global Reset
          	2. Struktur
          	3. ALLGEMEINE ATTRIBUTE
          	4. Links
          	5. Header
          	6. Typografie
          	7. Rechtes Navigationsmenü (Listendarstellung)
          	8. Bilder (arc90)
*/

/*	-------------------------------------------------------------
	1. GLOBAL RESET
	- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -	*/
               /* Margin und Padding werden auf 0 gesetzt*/
               *
               {
               	margin: 0;
               	padding: 0;
               }

/*	-------------------------------------------------------------
	2. STRUKTUR
	- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -	*/

               body {
                    /* Allgemeine Angaben für body */
               	font-family: Verdana,"Lucida Sans Unicode","Lucida Grande","Times New Roman",serif;
               	font-size: 0.81em;
               	color: #000;
          	background:#fff url(hintergrund.png) repeat-x;
               }
               
               #container {
                    /* Allgemeines Container für das gesamte Layout, minimale Breite soll 600px sein */
          	overflow:hidden;
               	margin-left: auto;
               	margin-right: auto;
               	margin-bottom: 10px;
               	width: 69%;
               	padding: 10px 0 0.4em 0;
               	min-width: 600px;
          	border:1px solid #a0c0d1;
          	border-width:0 1px 1px 1px;
          	background-color:#fff;
               }

               #content {
                    /* Inhaltsblock des liquid Layouts, 60% Breite, wird nach links gefloatet */
               	float: left;
               	width: 60%;
               	margin: 0.4em 4% 0.4em 2%;
               	line-height: 1.5em;
                    
                    /* The IE Doubled Float-Margin Bug: ohne display: inline verdoppelt IE <= 6 den äußeren Abstand */
                    display: inline;
               }
               #sidebar {
                    /* Navigationsmenü des liquid Layouts, 31% Breite, wird nach rechts gefloatet */
               	float: right;
               	width: 31%;
               	padding: 7px;
               	font-size: 0.85em;
               	line-height: 1.6em;
               	text-align: left;
               	background-color: #e8f8bf;
               	border: 1px dashed #fff;
               }

/*	-------------------------------------------------------------
	3. ALLGEMEINE ATTRIBUTE
	- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -	*/

               em {
               	font-style: italic;
               }
               strong {
               	font-weight: bold;
               }
               blockquote {
               	background-color: #eefacc;
               	border: 1px dashed #c4ee4c;
               	padding: 0 0 5px 10px;
               }
               p {
               	margin: 0.7em 0 0 0;
               	padding: 0 0 0 0;
               }

/*	-------------------------------------------------------------
	4. LINKS
	 Reihenfolge: Link - Visited - Focus - Hover - Active (Link Specificity),
	 http://www.d.umn.edu/itss/support/Training/Online/csstips/lovehate.html
	- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -	*/

               a:link {
               	color: #105cb6;
               	text-decoration: none;
               	font-weight: bold;
               	border-bottom: 1px dotted #105cb6;
               	padding: 0px 1px 0px 1px;
               }
               
               a:visited {
               	color: #5f9ee7;
               	text-decoration: none;
               	border-bottom: 1px dotted #5f9ee7;
               }
               
               a:focus, a:hover
               {
               color: #000;
               background-color: #fff6d1;
               border-bottom: 1px dotted #a10000;
               }
               
               a:visited:focus, a:visited:hover {
               	background-color: #f5fafa;
               	color: #333;
               }
               
               a:active, a:visited:active {
               	background-color: #e8f8bf;
               	color: #000;
               }
               
               #sidebar a:link, #sidebar a:visited {
               	color: #4d7711;
               	font-weight: bold;
               	line-height: 2em;
               	padding: 2px;
               	text-decoration: none;
               	border-bottom: 1px dotted #4d7711;
               }
               
               #sidebar a:focus {
               	background-color: #a10000;
               	color: #ffec9e;
               	border: 1px solid #fff;
               }
               
               #sidebar a:hover, #sidebar a:visited:hover {
               	background-color: #e8f8bf;
               	text-decoration: none;
               	color: #59850f;
               	border-bottom: 1px solid #4d7711;
               }
               
               #sidebar a:active {
               	background-color: #a10000;
               	color: #ffec9e;
               	border: 1px solid #fff;
               }
               
               #sidebar a.current {
               	background-color: #fff;
               	color: #333;
               	padding: 3px;
               	border-bottom: 2px solid #73ae1e;
               }

/*	-------------------------------------------------------------
	5. HEADER
	- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -	*/

               /* Platzierung des Logos im oberen Seitenbereich */
               #logostuff {
               	display: inline;
               	float: left;
               	margin-right: 30px;
               	padding: 0 0 5px 40px;
               	width: 465px;
               }
               h1#logo {
                    /* Zugänglichkeit: auch ohne CSS-Stile soll die Seite gut benutzbar sein. Ein Verweis 
                    wird durch ein Bild ersetzt, indem er horizontal als Inline-Element präsentiert und um
                    9999px nach links verschoben wird. Suchmaschinen sehen den Verweis trotzdem. */
               	background: url(biglogo.png) left bottom no-repeat;
               	display: block;
               	text-decoration: none;
               	text-indent: -9999px;
               	position: relative;
               	width: 316px;
               	height: 185px;
               }

/*	-------------------------------------------------------------
	6. TYPOGRAFIE
	- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -	*/

               h1 {
               	padding: 0px;
               	margin: 0px;
               	font: italic normal 2.9em/1.2em Georgia,"Lucida Sans Unicode","Times New Roman",Times,serif;
               	letter-spacing: -1px;
               }
               .subheader {
               	font-size: 0.85em;
               	border-top: solid 2px #cc3366;
               	border-bottom: solid 1px #cccccc;
               	padding: 5px 0px 5px 0px;
               	margin: 8px 0px 0px 0px;
               }
               
               #sidebar h2 {
               	font: bold 0.9em/1.2em Verdana,Arial,serif;
               	text-transform: uppercase;
               	background-color: #c7ee62;
               	color: #333;
               	letter-spacing: 1px;
               	padding: 6px 6px 6px 12px;
               	border: 1px solid #fff;
               	margin-top: 0;
               }

               #sidebar p {
                    padding: 0 1em;
                    padding-bottom: 1.4em;
               }

/*	-------------------------------------------------------------
	7. RECHTES NAVIGATIONSMENÜ (LISTENDARSTELLUNG)
	- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -	*/

          #sidebar ul {
          	padding: 0;
          	margin: 0 0 9px 2em;
          }
          #sidebar ul li {
          	list-style: none;
          	padding: 0 0 0 0;
          	margin: 0.15em 0 0 0;
          	font-size: 1em;
          }

/*	-------------------------------------------------------------
	8. BILDER (ARC90)
	- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -	*/

               /* 'Automatische' Darstellung der Bilder mit Bildunterschriften;
               Arc90-Skript im Einsatz: anstatt des zusätzlichen Markups liest das Skrip
               title-Attribut ab und stellt den Inhalt als Bildunterschrift dar. */

               #content img {
               	padding: 5px;
               	border: 1px solid #fff6d1;
               }
               #content img:hover {
               	border: 1px solid #ffe784;
               }
               #content .img a {
               	border: 0;
               }

               /* Gestaltung der Bildunterschrift */
               .imgcaptionTXT {
               	font-size: .8em;
               	color: #666;
               	text-align: left;
               }
               .imgcaption {
               	text-align: center;
               	padding: 0.4em 1em 0.3em 0.4em;
               	margin: 0 0 0.1em 0;
               	width: 9em;
               	font-size: 0.8em;
               	font-weight: bold;
               	color: #333;
               	line-height: 1.1em;
               }
               .floatl {
               	float: left;
               	margin-right: 1.4em;
               }
               .floatr {
               	float: right;
               	margin-left: 1em;
               }
