.round {
	border-bottom-left-radius: 10px 10px;
	border-bottom-right-radius: 10px 10px;
	border-top-left-radius: 10px 10px;
	border-top-right-radius: 10px 10px;
	background-color: white;
}

#navbar {
	padding-top: 6px;
	padding-bottom: 6px;
	margin-top: 90px;
}

#navbar li {
	list-style: none;
	display: inline;
	padding-top: 20px;
	margin-top: 10px;
	margin-left: 30px;
}

#navbar li a {
	padding: 0.3em;
	text-shadow: white 0px 1px;
	text-decoration: none;
}

#navbar li a:hover {
	text-decoration: underline;
}

#content div {
	padding: 10px;
}

#sidebar div {
	padding: 10px;
}

#container .subheader {
	font-size: 0.85em;
	border-top: solid 2px #7891a1;
	border-bottom: 1px solid #ccc;
	padding: 5px 0 5px 15px;
	margin: 8px 0 0 0;
}

h1,h2,h3,h4 {
	font-family: Georgia, "Lucida Sans Unicode", "Times New Roman", Times,
		serif;
	font-weight: normal;
	font-style: italic;
	line-height: 1.2em;
	letter-spacing: -1px;
	font-size: 2.9em;
}

h1 a,h1 a:hover {
	text-decoration: none;
}

#footer {
	text-align: center;
	color: #000;
	margin-top: 10px;
}

#footer p {
	padding: 2px;
}

#pagination {
	text-align: center;
	padding: 10px;
}

#pagination ul {
	margin: auto;
}

#pagination-clean li {
	border: 0;
	margin: 0;
	padding: 0;
	font-size: 11px;
	list-style: none;
}

#pagination-clean li,#pagination-clean a {
	/* border:  1px solid #DEDEDE; */
	margin-right: 2px;
}

#pagination-clean .previous-off,#pagination-clean .next-off {
	color: #888888;
	display: block;
	float: left;
	font-weight: bold;
	padding: 3px 4px;
}

#pagination-clean .next a,#pagination-clean .previous a {
	font-weight: bold;
}

#pagination-clean .active {
	color: #00000;
	font-weight: bold;
	display: block;
	float: left;
	padding: 4px 6px;
}

#pagination-clean a:link,#pagination-clean a:visited {
	color: #0033CC;
	display: block;
	float: left;
	padding: 3px 6px;
	text-decoration: none;
}

#pagination-clean a:hover {
	text-decoration: none;
}

#tweets {
	
}

.tweet {
	border-bottom-left-radius: 10px 10px;
	border-bottom-right-radius: 10px 10px;
	border-top-left-radius: 10px 10px;
	border-top-right-radius: 10px 10px;
	clear: left;
	height: 70px;
	border-bottom: 1px solid #eaf4f9;
	background-color: #fff;
}

.tweet:hover {
	background-color: #eaf4f9;
}

.tweet a {
	text-decoration: none;
}

.tweet img {
	float: left;
}

.tweet p {
	margin-top: 0px;
	margin-left: 53px;
}

.tweet span.description {
	clear: both;
	float: left;
	color: #425d75;
	font-size: 0.7em;
	margin-top: 10px;
}

.tweet span.source {
	font-size: 0.7em;
	float: right;
	margin-top: 10px;
}

a:hover {
	text-decoration: underline;
}

.search input.iround {
	border-bottom-left-radius: 3px 3px;
	border-bottom-left-radius: 3px 3px;
	border-bottom-right-radius: 3px 3px;
	border-bottom-right-radius: 3px 3px;
	border-top-left-radius: 3px 3px;
	border-top-left-radius: 3px 3px;
	border-top-right-radius: 3px 3px;
	border-top-right-radius: 3px 3px;
	height: 1, 5em;
	overflow: auto;
	padding: 5px;
	resize: none;
	width: 93%;
}

#content img {
	padding: 1px;
	border: 1px solid #eaf4f9;
	border-bottom-left-radius: 3px 3px;
	border-bottom-left-radius: 3px 3px;
	border-bottom-right-radius: 3px 3px;
	border-bottom-right-radius: 3px 3px;
	border-top-left-radius: 3px 3px;
	border-top-left-radius: 3px 3px;
	border-top-right-radius: 3px 3px;
	border-top-right-radius: 3px 3px;
}