* {/* reset default values */
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  font: small/150% Helvetica, Arial, Verdana, sans-serif;
}

html {
	/* background: #fff url("/images/bg_main.gif") repeat-x 0 0 ; */
	border-top: 6px solid #000;
}

/** Main positioning */
#wrapper {
  min-width: 905px;
  max-width: 80em;
}

a {
  color: #40cff5;
}

#header,
#body,
#footer {
  clear: both;
  float: left;
  position: relavive;
  width: 100%;
}

#header {
  /* background: transparent url("/images/bg_header.jpg") no-repeat 50% 6px; */ 
  padding-top: 35px;
}

#header h1 {
  padding-left: 160px;
}

#header h1 a {
  /* background: transparent url("/images/logo.gif") no-repeat 0 0; */
  color: #25313b;
  display: block;
  line-height: 400px;
  overflow: hidden;
  height: 120px;
  width: 225px;
}

#navigation {
  background-color: #ddd;
  border-bottom: 1px solid #2c2c2c;
  border-top: 1px solid #2c2c2c;
  border-right: 1px solid #2c2c2c;
  float: left;
  width: 100%;
  font-size: 120%;
    text-transform: lowercase;
}

#navigation ul {
  list-style: none;
}

#navigation li {
  float: left;
  width: auto;
}


#navigation a {
  display: block;
  padding: 7px;
  margin: 0px;
  color: #2c2c2c;
  text-decoration: none;
}


#navigation li.current a {
  background-color: #777;
  text-decoration: underline;
  color: #fff;
  padding-top: 10px;
}

#navigation a:hover, #navigation a:focus {
  background-color: #777;
  color: #fff;
  text-decoration: underline;
}
               
#search {
    height: 53px;
    padding: 13px 50px 0 65px;
    position: absolute;
    right: 200px;
    top: 155px;
}
#search * {
    float: left;
}
#search label { /* hide from visual browsers */
    position: absolute;
    visibility: hidden;
}
#search input {
    border: 1px solid #40cff5;
    font-size: 110%;
    margin-right: 10px;
    width: 160px;
}
#search button {
    background: transparent url("/images/button_search.gif") no-repeat 0 0;
    border: none;
    height: 26px;
    margin-top: -1px;
    line-height: 100px;
    padding: 0;
    overflow: hidden;
    width: 90px;
}
#search > form button {
    text-indent: 100px; /* be nice to Firefox */
}
#search button:hover {
    background-position: 0 -26px;
}
#search button:active {
    background-position: 0 -52px;
}

form input {
    background: #fff url("/images/bg_input.gif") repeat-x 0 0;
    border: 1px solid #c0c3c6;
    padding: 0.2em 5px;
}
form button {
    background: #fdab08;
    border: none;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    padding: 0.2em 0.7em;
}
               
#footer {
    background: #2c2c2c url("/images/bg_footer.gif") no-repeat 100% 0;
    color: #fff;
    padding: 2em 0;
}

#footer ul {
  position: absolute;
  right: 20px;
  top: 2em;
}

#footer ul,
#footer ul * {
  float: left;
}

#skip {
  /* background: transparent url("/images/badge.jpg") no-repeat 0 0; */
  left: 0;
  position: absolute;
  height: 160px;
  top: 0;
  width: 152px;
}

#header #skip a {/*hide from visual browsers */
	visibility: hidden;
}

#rss {
  background: transparent url("/images/darkbg-rss.gif") no-repeat 0 100%;
  color: #00bbee;
  font-size: 88%;
  padding: 0.3em 15px 0.5em 15px;
  position: absolute;
  right: 30px;
  text-transform: uppercase;
  top: 6px;
  width: 270px; 
}

#rss * {
  float: left;
}

#rss dt {
	padding-right: 1em;
}

#rss a {
  background: transparent url("/images/icon_rss.gif") no-repeat 0 50%;
  color: #fff;
  margin-right: 15px;
  padding-left: 20px;
}

#rss a:hover {
  text-decoration: underline;
}

#content {
  float: left;
  width: 48%;
  padding: 10px 0;
  padding-left: 145px;
}

#content .entry .note {
    position: absolute;
    left: 15px;
    width: 140px;
}

#content .entry .note strong {
    background: transparent url("/images/icon_note.gif") no-repeat 0 50%;
    display: block;
    padding-left: 20px;
    text-transform: uppercase;
}

#sidebar {
  float: right;
  width: 34%;
  padding: 10px 0;
}

#sidebar .section {
	clear: both;
	margin-bottom: 20px;
	padding: 10px 20px;
}

#sidebar .column {
	float: left;
	width: 50%;	
}