#container {
	background-color: #eaf4f9;
}

.round {
	border-bottom-left-radius: 5px 5px;
	border-bottom-right-radius: 5px 5px;
	border-top-left-radius: 5px 5px;
	border-top-right-radius: 5px 5px;
	background-color: white;
}

#navbar {
	padding-top: 5px;
	padding-bottom: 7px;
	margin-top: 90px;
}
#navbar li {
	list-style: none;
	display: inline;
	padding-top: 20px;
	margin-top: 10px;
}

#navbar li a {
	padding: 0.3em;
	text-shadow: white 0px 1px;
	text-decoration: none;
}

#navbar li a:hover {
	text-decoration: underline;
}

#content div {
	padding: 5px;
}

#sidebar {
	font-size: 0.95em;
	color: #222;
}

#sidebar p, h2 {
	padding: 15px;
}

#container .subheader {
 font-size: 0.85em;
 border-top: solid 2px #7891a1;
 border-bottom: 1px solid #ccc;
 padding: 5px 0 5px 15px;
 margin: 8px 0 0 0;
}

#container h1, h2 {
	font-family: Georgia, "Lucida Sans Unicode", "Times New Roman", Times, serif;
	font-weight: normal;
	font-style: italic;
	line-height: 1.2em;
	letter-spacing: -1px;
	font-size: 2.9em;
	
}

#footer {
	text-align: center;
	color: #000;
	margin-top: 10px;
}

#footer p {
	padding:2px;
}

#pagination {
  text-align: center;
  padding: 10px;
}

#pagination ul {
	margin: auto;
}

a img {
	border: none;
}

ul{border:0; margin:0; padding:0;}

#pagination-clean li{
border:0; margin:0; padding:0;
font-size:11px;
list-style:none;
}
#pagination-clean li, #pagination-clean a{
/* border:  1px solid #DEDEDE; */
margin-right:2px;
}
#pagination-clean .previous-off,
#pagination-clean .next-off {
color:#888888;
display:block;
float:left;
font-weight:bold;
padding:3px 4px;
}
#pagination-clean .next a,
#pagination-clean .previous a {
font-weight:bold;
} 
#pagination-clean .active{
color:#00000;
font-weight:bold;
display:block;
float:left;
padding:4px 6px;
}
#pagination-clean a:link,
#pagination-clean a:visited {
color:#0033CC;
display:block;
float:left;
padding:3px 6px;
text-decoration:none;
}
#pagination-clean a:hover{
text-decoration:none;
}

.tweet {
  color: #000;
  clear: both;
  height: 70px;
  border-top: 1px solid #ccc;	
}

.tweet:hover {
  background-color: #ddd;
  border-top: 1px solid #ccc;
}

.tweet a {
  display: block;
  color: blue;
  text-decoration: none;
}

.tweet img {
  display: inline;
  float: left;
  border: none;
}

.tweet p {
  margin-top: 0;
  margin-left: 53px;  
}

.tweet span.description {
  color: #aaa;
}

.description a {
  color: #aaa;
  text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.tweet p a{
  font-weight: bold;
  float: left; 
}