/*	-------------------------------------------------------------
	Beispiel: Kontaktformular
	- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
          .datei         schritt5.html
          .kapitel       8
	-------------------------------------------------------------	*/

/*	-------------------------------------------------------------
	1. GLOBAL RESET
	- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -	*/
               * {
                    margin: 0;
                    padding: 0;
               }

/*	-------------------------------------------------------------
	2. STRUKTUR
	- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -	*/
               body {
                    font: 12px "Trebuchet MS",Arial, Helvetica, sans-serif;
                    background-color: #5ea4d7;
               }

               div#wrapper {
                    /* Allgemeines Container */
               	margin: 0;
               	width: 770px;
               }

               div#content {
                    /* Sub-Container, wird nach rechts verschoben, da links bei einem Formulare
                    weitere Elemente stehen werden. Typische Alternative: margin: 0 auto; */
                    margin: 0 auto;
               	padding: 0 5px 0 0;
               	text-align: left;
               	width: 500px;
               }
               .contactleft {
                    /* Linker Bereich des Formulars: für Labels */
                    width: 25%;
                    clear: both;
                    float: left;
                    display: inline;
                    padding: 4px;
                    margin: 10px 0;
                    text-align: right;
               }
               .contactright {
                    /* Rechter Bereich des Formulars: für Eingabefelder */
                    width: 70%;
                    text-align: left;
                    float: right;
                    display: inline;
                    padding: 4px;
                    margin: 5px 0;
               }

/*	-------------------------------------------------------------
	3. GESTALTUNG VON EINGABEFELDERN
	- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -	*/
               input, textarea {
                    border: 4px solid #387eb1;
                    -moz-border-radius: 3px;
               }

               .contactform {
                    /* Hintergrundebene mittels overflow */
                    height: 100%;
                    overflow: auto;
                    background-color: #4c95c9;
                    -moz-border-radius: 6px;
               }

               .contactform #Name,
               .contactform #Email,
               .contactform #Site,
               .contactform #Feedback {
                    width: 80%;
                    padding: 5px; 
                    color: #333;
                    font: 1.1em/1.6em Arial, "Trebuchet MS", Verdana, sans-serif; 
               }

               #subm {
                    /* Versenden-Schaltfläche */
                    font: 1.1em/1.6em "Trebuchet MS", Verdana, sans-serif; 
                    width: 310px;
                    border: 1px solid #dddddd;
                    padding: 4px 5px 4px 5px;
                    color: #fff;
                    background-color: #285a80;
                    font-weight: bold;
                    -moz-border-radius: 3px;
               }

/*	-------------------------------------------------------------
	4. ALLGEMEINE ATTRIBUTE
	- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -	*/
               h2 {
                    /* Überschrift der Seite */
                    font-family: "Trebuchet MS", Calibri, Georgia,serif;
                    font-weight: normal;
                    font-size: 4em; 
                    color: #fff;
               }
               span.required {
                    /* Markierung des Eingabefeldes, das ausgefüllt werden soll */
                    color: #fff;
                    font-size: 2em;
               }
               label {
                    /* Beschriftung des Eingabeldes */
                    color: #fafafa;
                    font-weight: bold;
                    padding: 2px 5px 2px 5px;
                    
                    /* Hintergrundfarbe + Abrundung */
                    background-color: #5ea4d7;
                    -moz-border-radius: 3px;
               }
