/*	-------------------------------------------------------------
	Beispiel: Die linke float-Box ragt aus dem Eltern-Container heraus.
	- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
          .datei         11-22.html
          .kapitel       10
	-------------------------------------------------------------	*/

               body {
                    background-color: #244fad;
                    font: 24px Delicious, Helvetica, Arial, sans-serif;
                    color: #fff;
               }
               
               #container {
                    background-color: #679ef1;
                    margin: 0 auto;
                    width: 600px;
                    border: 3px solid #fff;
                    padding: 0.9em;
               }
               
               span.floated {
                    background-color: #aadd22;
                    border: 1px solid #ffffff;
                    float: left;
                    width: 140px;
                    padding: 10px;
                    margin: 0 0.5em 0.5em 0;
               }
               
               p {
                    padding: 0;
                    margin: 0 0 1em 0;
               }
               
               p.clearfloat {
                    clear: left;
               }
