/*	-------------------------------------------------------------
	Beispiel: Navigationsmenü, navbar.css
	- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
          .datei         index.html
          .kapitel       5
	-------------------------------------------------------------	*/

/*	-------------------------------------------------------------
	3. NAVIGATIONSMENÜ
	- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -	*/
               #navbar {
                    background-color: #1188bb;
                    border-top: 4px solid #007799;
                    float: left;
                    width: 100%;
               }
               #navbar ul {
                    list-style: none;
               }
               #navbar li {
                    float: left;
                    width: auto;
               }
               #navbar a {
                    display: block;
                    padding: 10px 15px;
                    font: bold 0.8em/1.6em Verdana, "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, sans-serif;
                    text-transform: lowercase;
                    background-color: #1199cc;
                    color: #ddd;
               }
               #navbar a:hover, #navbar a:focus {
                    background-color: #33bbee;
                    color: #fff;
               }
               