* { /* reset default values */
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
} 
body {
    font: small/150% Helvetica, Arial, Verdana, sans-serif;
}
/*** Main Positioning ***/
#wrapper {
	min-width: 905px;
	max-width: 80em;
}
#header,
#body,
#footer {
    clear: both;
    float: left;
    position: relative;
    width: 100%;
}
#content {
    float: left;
    width: 48%;
    padding: 10px 0;
    padding-left: 145px;
}
#sidebar {
    float: right;
    width: 34%;
    padding: 10px 0;
}
#sidebar .section {
    clear: both;
    margin-bottom: 20px;
    padding: 10px 20px;
}
#content .entry .note {
    position: absolute;
    left: 15px;
    width: 130px;
}
#content .entry .note strong {
    background: transparent url("images/icon_note.gif") no-repeat 0 50%;
    display: block;
    padding-left: 20px;
    text-transform: uppercase;
}
#sidebar .column {
    float: left;
    width: 50%;
}
