/*	-------------------------------------------------------------
	Beispiel: Microformats
	- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
          .datei         beispiel-1.html / beispiel-2.html
          .kapitel       13
	-------------------------------------------------------------	*/

               body {
                    background-color: #244fad;
                    font: 2em/1.45em Delicious, Helvetica, Georgia, sans-serif;
                    color: #fff;
               }
               
               #container {
                    background-color: #679ef1;
                    margin: 0 auto;
                    width: 600px;
                    border: 3px solid #fff;
                    padding: 0.9em;
               }
               
               a { 
                    color: #244fad;
                    background-color: #fff;
                    font-weight: bold;
                    padding: 5px;
               }