/*	-------------------------------------------------------------
	Beispiel der typografischen Gestaltung eines Blocks
	- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
	.datei         beitrag-mit-zusammenfassung.html
	.kapitel       3
	-------------------------------------------------------------	*/

/*	-------------------------------------------------------------
	GLOBAL RESET
	- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -	*/
                    * {
                         margin: 0;
                         padding: 0;
                    }

/*	-------------------------------------------------------------
	BODY + container
	- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -	*/
	
		body {
			background-color: #fff;
			color: #000;
			font-family:  Verdana, Arial, Helvetica, sans-serif;
			font-size: 62.5%;
			margin: 0;
			padding: 0;
			}
			
		#container {
			margin: 0 auto;
			width: 50em;
			font-size: 1.2em;
			}

/*	-------------------------------------------------------------
	ALLGEMEINE ATTRIBUTE
	- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -	*/
                    p {
			margin: 6px 0px 8px 0px;
			line-height: 1.7em;
			}

		em {
		          font-style: italic;
		          }

		strong {
		          font-weight: bold;
		          } 

/*	-------------------------------------------------------------
	LINKS
	- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -	*/
		a img {
                              border: 0px;
			}
                    a {
                              color: #335588;
                              font-weight: bold;
                              outline: none;
                              padding: 2px 0;
                              text-decoration: underline;
                              }
                    a:visited {
                              color: #999999;
                              }
                    a:hover {
                              color: #cc3366;
                    }
                    a:active, a:focus {
                              background-color: #ddeeee;
                    }

/*	-------------------------------------------------------------
	content
	- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -	*/

		#content {
			float: left;
			font-family: Verdana, "Lucida Sans Unicode", "Lucida Grande", Arial, Helvetica, sans-serif;
			width: 475px;
			line-height: 161%;
			padding: 10px 10px 10px 0px;
			clear: both;
			}

		#content h1 {
			color: #222;
			font-family: Georgia, "Times New Roman", Times, serif;
			font-weight: normal;
			font-style: italic;
			line-height: 100%;
			letter-spacing: -1px;
			font-size: 40px;
			}

		#content .subheader {
			font-size: 0.9em;
			border-top: solid 2px #CC3366;
			border-bottom: solid 1px #cccccc;
			padding: 5px 0px 5px 0px;
			margin: 15px 0px 0px 0px;
			}

                    #content p.summary {
                              background-color: #ffffde;
                              padding: 7px;
                              border: 1px dotted #ccc;
                              }

                    #content .visual {
                    	float: left;
                    	border: 1px solid #333;
                    	margin: 10px 10px 1px 0px;
                    	}
