/*	-------------------------------------------------------------
	Beispiel eines Navigationsmenüs mit Sliding Doors
	- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
          .datei         sliding-doors.html
          .kapitel       5
	-------------------------------------------------------------	*/

/*	-------------------------------------------------------------
	1. GLOBAL RESET
	- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -	*/
               * {
                    /* Margin und Padding werden auf 0 gesetzt*/
                    margin: 0;
                    padding: 0;
               }

/*	-------------------------------------------------------------
	2. ALLGEMEINE ATTRIBUTE
	- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -	*/

               body {
               	background: #fff;
               	font: 2.0em/1.6em Calibri, Helvetica, Georgia, serif; 
                    margin: 1em;
               }

/*	-------------------------------------------------------------
	3. NAVIGATIONSMENÜ
	- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -	*/
              #navbar {
                    float: left;
                    width: 100%;
                    background: #ddd;
               }
