/*	-------------------------------------------------------------
	Beispiel eines dunklen Layouts
	- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
          .datei         index.html
          .kapitel       4
	-------------------------------------------------------------	*/

/*	-------------------------------------------------------------
	Farben
	- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
	dunkelblau - #0c648a
	hellgrün - #bcf183
	hellblau - #1295cf
	hellrosa - #a30056
	dunkelrosa - #800044
	schwarz - #292f33
	-------------------------------------------------------------	*/

/* 
          Inhalt: 
     
          	1. Global Reset
          	2. Struktur
          	3. ALLGEMEINE ATTRIBUTE
          	4. Links
          	5. Rechtes Navigationsmenü (#content-related)
          	6. Typografie
          	7. Header (#header)
          	8. Horizontales Navigationsmenü (#topnav)
          	9. Banner (#imageintro)
          	10. Footer (#footer)
          	11. Clearfix
*/

/*	-------------------------------------------------------------
	1. GLOBAL RESET
	- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -	*/
               /* Margin und Padding werden auf 0 gesetzt*/
               *
               {
               	margin: 0;
               	padding: 0;
               }

/*	-------------------------------------------------------------
	2. STRUKTUR
	- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -	*/

                    body {
                              /* Layout fester Breite wird zentriert */
                              width: 770px;
                              margin: 0 auto;
                              padding: 0;
                              background: #30373c;
                              color: white;
                              font: 0.75em/1.55em Verdana,sans-serif;
                    }
                         #begin {
                              /* Abschließung des Layouts im oberen Seitenbereich */
                    	margin-right: auto;
                    	margin-left: auto;
                    	width: 760px;
                    	background-repeat: no-repeat;
                    	height: 20px;
                    }
                    #container {
                              /* Vertikale Wiederholung des Hintergrundbildes zur Abschließung des Layouts */
                              width: 720px;
                    	background-repeat: repeat-y;
                    	margin-right: auto;
                    	margin-left: auto;

                              /* Horizontaler Abstand links und rechts soll ein einheitliches Seitenbild erzeugen */
                    	padding: 5px;
                              background-color: #252a2e;
                     }
                    #end {
                              /* Abschließung des Layouts im unteren Seitenbereich */
                    	margin-right: auto;
                    	margin-left: auto;
                    	width: 760px;
                    	height: 20px;
                    }
                    
                    #columnwrap
                    {
                         /* Allgemeines Container für sämtliche Seiteninhalte */
                         background-color: #222d2d;
                         padding-bottom: 7px;
                         display: block;
                    }
                                   
                    #subwrap
                    {
                         /* Ein Subcontainer innerhalb des allgemeinen Containers */
                         background-color: #a30056;
                         width: 100%;
                         float: left;
                         padding-bottom: 6px;
                         display: block;
                         border-left: 0px solid #cc006b;
                         border-top: 2px solid #861866;
                    }
                    #content-main {
                    /* Inhaltsbereich der Seite */
                         float: left;
                         width: 66%;
                         background: #292f33;
                         color: #E5F8FF;
                         padding-bottom: 10px; 
                         border-right: 3px solid #800044;
                         border-top: 2px solid #800044;
                         border-bottom: 3px solid #800044;
                    }
                    #content-main * {
                         /* Alle Kinderelemente des Inhaltsbereichs sollen über einen äußeren Abstand verfügen */
                         margin-left: 22px;
                         margin-right: 24px;
                    }
                    
                    #content-related
                    {
                         /* Rechtes Navigationsmenü der Seite */
                         font-size: 92%;
                         float: right;
                         width: 33%;
                    }

/*	-------------------------------------------------------------
	3. ALLGEMEINE ATTRIBUTE
	- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -	*/

               a img
               {
               	/* Entferne Rahmen von verlinkten Bildern */
               	border: 0;
               }
               
               strong,p.bold
               {
               	font-weight: 700;
               }
               
               em {
                    font-style: italic;
               }
               
               p,ul,dl
               {
               	margin-top: .6em;
               	margin-bottom: .8em;
               }
               
               ul
               {
               	padding-left: 3.3em;
               }
                   
               ol
               {
               	padding-left: 30px;
               }
               
               ul li
               {
               	list-style-type: square;
               	margin-bottom: .4em;
               }

               dt
               {
               	font-weight: 400;
               	margin-top: .5em;
               	color: #999;
               	font-size: 1.1em;
               }
               
               dd
               {
               	margin-bottom: .8em;
               }

/*	-------------------------------------------------------------
	4. LINKS
	- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -	*/

               #content-main a:link, #footer a:link 
               {
                    /* Verweise in Inhaltsbereich und Footer werden mit einem Icon versehen */
               	text-decoration: none;
               	color: #ff6bba;
               	font-weight: 700;
               	text-decoration: underline;
               	padding: 2px 18px 2px 1px;
               	background: url(comments.png) right center no-repeat;
               	margin: 0;
               }
     
               #footer .footerright a:link {
                    background: none;
               }
               
               #content-main a:hover, #content-main a:visited:hover,
               #footer a:hover, #footer a:visited:hover {
                    /* Hover-Zustand soll für besuchte wie noch nicht besuchte Seiten gleich sein */
                    color: #bbf183;
               	background-color: #1f2225;
               }
          
               #content-main a:visited, #footer a:visited 
               {
                    /* Bereits besuchte Seiten werden entsprechend hervorgehoben */
               	color: #95abb1;
               	text-decoration: underline;
               	border: 0;
               	font-weight: bold;
               }    
               #content-main a:focus,
               #content-main a:active,
               #footer a:focus,
               #footer a:active 
               {
                    /* Focus und Active: in diesen Zuständen soll sich ein Verweis deutlich hervorheben */
               	background-color: #a0045b;
               	color: #fff;
               }    

/*	-------------------------------------------------------------
	5. RECHTES NAVIGATIONSMENÜ (#CONTENT-RELATED)
	- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -	*/     

               #content-related h3
               {
               	color: #9aef3f;
               }

               #content-related h2
               {
               	font-size: 1.2em;
               	margin-top: .8em;
               	background-color: #800044;
               	font-weight: 700;
               	color: #cee780;
               	border: 1px dashed #9a0051;
               	border-width: 1px 0;
               	padding: 6px;
               }
               
               #content-related h2 a
               {
               	text-transform: uppercase;
               	letter-spacing: 1px;
               	color: #fff;
               	text-decoration: none;
               }
                    
               .homelist
               {
                    /* Abstände für die ungeordnete Liste ul.homelist */
               	padding-bottom: .6em;
               	padding-right: 12px;
               	padding-left: 12px;
               }
               
               #content-related .homelist li
               {
               	list-style-type: none;
               }
               
               #content-related ul.homelist li
               {
               	padding-bottom: 1px;
               }
               
               #content-related li.current 
               {
               	background-color: #fff;
                    border: 2px solid #cf7ba7;
               }
              
               #content-related li a 
               {
                    /* Sämtliche Rubriken sollen mithilfe eines Icons markiert werden.
                    Gestaltung der Verweise: Verweis wird zum Block deklariert und mit einer festen Breite versehen.
                    Dadurch wird es dem Nutzer leichter fällen, einen Verweis anzuklicken. */
               	display: block;
               	color: #eee;
               	font-size: 1em;
               	font-weight: 700;
               	text-decoration: underline;
               	text-align: left;
               	width: 180px;

                    /* Ein 'künstlicher' Listenmarker soll sich rechts befinden */
               	background: transparent url(marker.gif) no-repeat 3% 50%;
               	padding: 0 5px 4px 32px;
               }
               
               #content-related a:hover, #content-related a:visited:hover, #content-related a:focus, #content-related a:visited:focus
               {
                    /* Hover und Focus: in diesem Fall werden beide Zustände identlisch gestaltet */
               	background-color: #7a003d;
               	color: #fff;
               }

               #content-related li a:visited
               {
                    /* Angeklickte Verweise des Navigationsmenüs werden mittels CSS automatisch mit einem Häckchen versehen */
               	background: url(check.gif) 95% 50% no-repeat;
               }

               #content-related li.current a,
               #content-related li.current a:visited 
                {
                    /* Hervorhebung der aktuellen Rubrik. */
                    color: #b54484;
               }

               #content-related li.current a:hover {
                    background-color: transparent;
               }
/*	-------------------------------------------------------------
	6. TYPOGRAFIE
	- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -	*/
               h1
               {
               	line-height: 1.3em;
               	font-family: "Trebuchet MS",sans-serif;
               	font-weight: 400;
               	font-size: 218%;
               	margin-top: .3em;
               	margin-bottom: 0.1em;
               	color: #fff;
               }
               
               h2
               {
               	font-family: "Trebuchet MS", Verdana,"Trebuchet MS",sans-serif;
               	font-size: 1.5em;
               	margin-bottom: .6em;
               	line-height: 1.22em;
               	color: #092e20;
               }
               
               h3
               {
               	font-family: Verdana, sans-serif;
               	font-size: 0.9em;
               	font-weight: 700;
               	margin-bottom: .2em;
               	color: #fff;
               	text-transform: uppercase;
               	letter-spacing: 1px;
               	background-color: #1f2225;
               	padding: 2px 3px 2px 10px;
                    border: 1px solid #685;
                    border-bottom: 3px solid #685;
               }    

               #content-main h2,#content-main h3
               {
               	margin-top: 1.2em;
               }
               
/*	-------------------------------------------------------------
	7. HEADER (#header)
	- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -	*/
               #header
               {
                    /* Zugänglichkeit: auch ohne CSS-Stile soll die Seite gut benutzbar sein. Ein Verweis 
                    wird durch ein Bild ersetzt, indem er horizontal als Inline-Element präsentiert und um
                    9999px nach links verschoben wird. Suchmaschinen sehen den Verweis trotzdem. */
               	height: 86px;
               	background: #0c648a url(logotype.jpg);
               }
               
               #header h1
               {
               	display: inline;
               }
               
               #header h1 a
               {
               	text-indent: -9999px;
               	display: block;
               	width: 510px;
               	height: 86px;
               	margin: 0;
               }    
     
/*	-------------------------------------------------------------
	8. HORIZONTALES NAVIGATIONSMENÜ (#TOPNAV)
	- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -	*/     
     
               #topnav ul
               {
               	display: inline;
               	margin: 0;
               	padding: 0;
               }
               
               #topnav ul li
               {
                    /* Listenelemente werden in eine Reihe gelegt. */
               	display: inline;
               }

               #topnav
               {
               	width: 720px;
               	height: 33px;
               	line-height: 15px;
               	text-align: center;
               	background-color: #045;
               	border-top: 2px solid #0c648a;
               }
               
               #topnav a
               {
                    /* Das Navigationsmenü soll Verweise als Kästchen präsentieren, demzufolge werden sie
                    zu Block-Level-Elementen deklariert und als Blöcke gestaltet. */
               	font: bold 12px Verdana, Arial, sans-serif;
               	color: #fafafa;
               	text-decoration: none;

                    /* Gefloatete Elemente sind automatisch Block-Level-Elemente;
                    display: block; ist nicht notwendig */
               	float: left;
               	height: 1.6em;
               	width: 60px;
               	background-color: #0c648a;
               	border: 1px solid #1a74a8;
               	border-width: 1px 1px 0;
               	margin: 3px 1px;
               	padding: 4px 6px;
               }
               
               #topnav a:hover
               {
               	height: 19px;
               	background-color: #0d7eb0;
               	color: #fff;
               	text-decoration: underline;
               }
               
               #topnav a.home
               {
                    /* Verweis zur Startseite wird besonders markiert */
               	background-color: #bcf183;
               	border: 1px solid #7cc51b;
               	color: #333;
               	border-width: 1px 1px 0;
               	margin: 4px 1px 3px 4px;
               	padding: 4px 10px 4px 6px;
               }
               
               #topnav a.on
               {
                    /* Die aktuelle Rubrik wird besonders markiert */
               	background-color: #199fd4;
               	color: #fff;
               	text-decoration: underline;
               	border: 1px solid #167faa;
               	border-width: 2px 2px 0;
               	margin: 4px 2px 4px 4px;
               	padding: 4px 6px 6px;
               }
               
               #topnav span.darknav
               {
               	display: block;
               	float: left;
               	width: 117px;
               	height: 17px;
               	background-color: #d7d5cb;
               	color: #fff;
               	background-image: url(hashout-.gif);
               	margin: 0 0 0 1px;
               }

               #topnav li a.darknav
               {
                    /* Weitere Elemente können auch unterschiedlich hervorgehoben werden */
               }

/*	-------------------------------------------------------------
	9. BANNER (#IMAGEINTRO)
	- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -	*/     
               #imageintro
               {
                    /* Eine horizontale Abgrenzung zwischen dem Banner und dem übrigen Inhalt */
               	border-bottom: 6px solid #08425c;
               }
               
               #homepage #imageintro
               {
                    /* #homepage ist eine Body-ID, nach der ggf. unterschieden werden können.
                    So können unterschiedliche Seiten verschiedene Banner haben. Die Auswahl kann
                    mit CSS 'automatisch' erfolgen. So wird das Bild banner.png nur auf der Seite mit Body-ID
                    #homepage erscheinen, auf den anderen Seiten (mit anderen IDs) dagegen nicht. */
               	background: #00a0d5 url(banner.png) no-repeat;
               }
               
               #homepage #imageintro h2
               {
               	border-top: 2px solid #167faa;
               	border-bottom: 2px solid #167faa;
               	text-indent: -5000px;
               	height: 130px;
               	width: 720px;
               	margin: 0;
               }

               #imageintro h2 a
               {
                    /* Die ganze Bannerfläche (720px x 140px) soll angeklickt werden können. */
               	display: block;
               	width: 720px;
               	height: 140px;
               	margin: 0;
               }

/*	-------------------------------------------------------------
	10. FOOTER (#FOOTER)
	- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -	*/     
               #footer
               {
                    /* Footerbereich: damit auch Footer nicht gefloatet wird, wird es mit clear: left aus dem Fluß herausgerissen
                    und erscheint wie gewohnt unter dem übrigen Inhalt. */
               	clear: left;
               	color: #ff6bba;
               	font-size: 90%;
               	padding: 10px 20px;
               }
                   
               .footerleft
               {
                    /* Linker Teil des Footers: für den Text. clear: both ist notwendig, damit
                    das HIntergrundbild sowohl .fooerleft als auch .footerright noch umschließt. */
               	min-height: 35px;
               	clear: both;
               	padding: 0 10px;
               }
               
               .footerleft p
               {
               	color: #fff;
               	font-size: 10px;
               	margin: 6px 20px 6px 0;
               	padding: 0;
               }
               
               .footerleft dl
               {
               	width: auto;
               	text-align: left;
               	font-size: 0.9em;
               	color: #333;
               	margin: 0 10px 0 0;
               	padding: 0;
               }
               
               .footerleft dl dt
               {
               	float: left;
               	clear: left;
               	width: 70%;
               	margin: 0 -1px 0 0;
               	padding: 0;
               }
               
               .footerleft dl dd
               {
               	width: 30%;
               	float: right;
               	clear: right;
               	margin: 0;
               	padding: 0;
               }
               
               #footer p
               {
               	font-weight: 400;
               }
               
               .footerright img
               {
               	border: none;
               }     

               .footerright
               {
                    /* Rechter Teil des Footers: für das Bild. Innerhalb von .footerleft */
               	float: right;
               	width: 154px;
               }
               
               .footerright a
               {
               	display: block;
               	width: 146px;
               	height: 31px;
               	padding: 4px;
               }

/*	-------------------------------------------------------------
	11. CLEARFIX
	- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -	*/     

               /* Notwendig für die Umschließung des gesamten Seitenbereichs. */
               #columnwrap:after,#subwrap:after
               {
               	content: ".";
               	display: block;
               	height: 0;
               	clear: both;
               	visibility: hidden;
               }
