/*	-------------------------------------------------------------
	Beispiel: Kontaktformular
	- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
          .datei         schritt1.html
          .kapitel       8
	-------------------------------------------------------------	*/

/*	-------------------------------------------------------------
	1. GLOBAL RESET
	- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -	*/
               * {
                    margin: 0;
                    padding: 0;
               }

/*	-------------------------------------------------------------
	2. STRUKTUR
	- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -	*/
               body {
                    font: 12px "Trebuchet MS",Arial, Helvetica, sans-serif;
               }

               div#wrapper {
                    /* Allgemeines Container */
               	margin: 0;
               	width: 770px;
               }

               div#content {
                    /* Sub-Container, wird nach rechts verschoben, da links bei einem Formulare
                    weitere Elemente stehen werden. Typische Alternative: margin: 0 auto; */
                    margin: 0 auto;
               	padding: 0 5px 0 0;
               	text-align: left;
               	width: 500px;
               }
               .contactleft {
                    /* Linker Bereich des Formulars: für Labels */
                    width: 25%;
                    clear: both;
                    float: left;
                    display: inline;
                    padding: 4px;
                    margin: 10px 0;
                    text-align: right;
               }
               .contactright {
                    /* Rechter Bereich des Formulars: für Eingabefelder */
                    width: 70%;
                    text-align: left;
                    float: right;
                    display: inline;
                    padding: 4px;
                    margin: 5px 0;
               }

/*	-------------------------------------------------------------
	3. GESTALTUNG VON EINGABEFELDERN
	- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -	*/
               input, textarea {
                    border: 1px solid #aabbcc; 
               }
