/*	-------------------------------------------------------------
	Beispiel: Navigationsmenü, navbar.css
	- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
          .datei         index.html
          .kapitel       5
	-------------------------------------------------------------	*/

/*	-------------------------------------------------------------
	3. NAVIGATIONSMENÜ
	- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -	*/
               #navbar {
                    background-color: #fafafa;
                    border: 1px dashed #ddd;
               }
