/*

Keep your site's styles separate from your heading styles.  

This is so the script doesn't have to parse unnecessary information 
and to ensure the script assigns the style information properly.

Don't say I didn't warn you. 

*/

body {
	padding: 4em;
	background: #fff;
}

p, ol li {
	color: #555;
	margin: 0 1em 1em 1em;
}