/*	-------------------------------------------------------------
	Beispiel: overflow: hidden. 
	- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
          .datei         overflow-hidden.html
          .kapitel       10
	-------------------------------------------------------------	*/
               body
               {
                    margin: 0;
                    padding: 0;
                    background-color: #eeeeee;
                    font: 1.1em/1.3em Delicious, Georgia, Times, "Times New Roman", serif; 
               }
               #container
               {
                    margin: 1em 6%;
                    background-color: #ffffff;
                    border: 1px solid #1166cc;
                    overflow: hidden;
               }
               #header {
                    background-color: #5599DD;
               }
               #header h1 {
                    color: #ffffff;
                    margin: 0;
                    float: left;
                    width: 60%;
                    padding: 0.5em 2%;
               }
               #header form {
                    padding: 0.4em 1%;
                    float: right;
                    background-color: #77aadd;
                    width: 25%;
                    margin: 0.5em;
               }
               #header input {
                    padding: 5px;
                    background-color: #ffffff;
                    border: 2px solid #f6f6f6;
                    font-size: 1em;
                    color: #999999;
                    width: 70%; /* 70% des Elternelements form */
               }
               #navbar {
                    clear: both;
                    background-color: #77aadd;
                    margin: 0;    
                    padding: 0.1em;
               }
               
               #navbar ul {
                    margin: 0;
                    padding: 0.6em;
               }
               
               #navbar li {
                    display: inline;
                    list-style: none;
                    margin: 0;
                    padding: 0;
               }
               
               #navbar li a {
                    padding: 0.3em;
                    color: #fafafa;
               }
               #content {
                    padding: 0.5em 3%;
                    float: left;
                    width: 71%;
                    /* IE < 6 Hack */
                    w\idth: 70.99%;
               }
               #sidebar {
                    float: left;
                    width: 200px;
                    height: 200px;
                    font-size: 0.95em;
                    background-color: #D4EBF7;
                    padding: 0.5em 1.5%;
                    overflow: hidden;
               }
               #footer {
                    clear: both;
                    background-color: #5599dd;
                    text-align: right;
                    color: #fff;
                    height: 1%;
                    overflow: hidden;
               }
               #footer p {
                    margin: 0;
                    padding: 0.5em;
               }
