/*	-------------------------------------------------------------
	Beispiel eines Navigationsmenüs mit Sliding Doors
	- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
          .datei         sliding-doors.html
          .kapitel       5
	-------------------------------------------------------------	*/

/*	-------------------------------------------------------------
	1. GLOBAL RESET
	- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -	*/
               * {
                    /* Margin und Padding werden auf 0 gesetzt*/
                    margin: 0;
                    padding: 0;
               }

/*	-------------------------------------------------------------
	2. ALLGEMEINE ATTRIBUTE
	- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -	*/

               body {
               	background: #fff;
               	font: 2.0em/1.6em Calibri, Helvetica, Georgia, serif; 
                    margin: 1em;
               }

/*	-------------------------------------------------------------
	3. NAVIGATIONSMENÜ
	- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -	*/
              #navbar {
                    float: left;
                    width: 100%;
                    border-bottom: 12px solid #ddccbb;
                    margin-top: 20px;
               }
               #navbar ul {
                    list-style: none;
               }
               #navbar li {
                    float: left;
                    width: auto;
                    background: url("tab-links.png") no-repeat left top;
                    padding: 0 0 0 18px;
                    border-bottom: 1px solid #765;
               }
               #navbar a {
                    float: left;
                    width: auto;
                    background: url("tab-rechts.png") no-repeat right top;
                    text-decoration:none;
                    font-weight:bold;
                    color:#333;
                    padding: 5px 15px 4px 0;
               }
               #navbar li.current {
                    background-position: 0% -150px;
                    border-bottom: 1px solid #ddccbb;
               }
               #navbar li.current a {
                    background-position: 100% -150px;
               }
               #navbar li:hover, #navbar li:hover a {
                    background-position: 0% -150px;
                    color: #333;
               }
               #navbar li:hover a {
                    background-position: 100% -150px;
               }
               #navbar li a:hover {
                    color: #111;
               }
