/*	-------------------------------------------------------------
	Beispiel: float-collapse: obwohl p den unteren ‰uﬂeren
	Abstand von 55px, p.floated den oberen ‰uﬂeren Abstand von 54px,
	ist der gesamte ‰uﬂere Abstand nicht 55px+54px = 99px, sondern nur
	55px. Diesen Effekt bezeichnet man als margin-collapsing: laut der Spezifikation
	wird der grˆﬂere beider Abst‰nde genommen, der andere ignoriert.
	
	Mehr dazu auf
	http://www.researchkitchen.de/blog/archives/css-autoheight-and-margincollapsing.php. 
	- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
          .datei         float-collapse.html
          .kapitel       10
	-------------------------------------------------------------	*/
               body {
                    background-color: #244fad;
                    font: 24px Delicious, Helvetica, Arial, sans-serif;
                    color: #fff;
               }
               
               #container {
                    background-color: #679ef1;
                    margin: 0 auto;
                    width: 600px;
                    border: 3px solid #fff;
                    padding: 0.9em;
               }
               
               p {
                  background-color: #3C75AE;
                  color: #fff;
                  margin-bottom: 55px;
               }
               
               p.floated {
                  margin-top: 54px;
                  margin-bottom: 20px;
                  border: 1px solid #EB6B0E;
               }
               	
